body {
    background-color: #36343427; /* Gris claro */
    color: #333;
}

.navbar {
    background-color: #36343427; /* Gris más claro para la barra de navegación */
}

.navbar-brand,
.nav-link,
.dropdown-item {
    color: #353535 !important; /* Texto gris oscuro para enlaces en la barra de navegación */
    
}

.title{
    padding: 20px;
}

.title-container {
    padding: 0px;
    margin-bottom: 20px;
    background-color: #93c05c
}

.dropdown-menu {
    background-color: #e1e1e1; /* Gris claro para el menú desplegable */
}

.card-libros {
    background-color: #d9edf7; /* Azul claro */
    border: 3px solid #bce8f1;
    border-radius: 15px
}

.card-cursos {
    background-color: #e8f5e9; /* Verde claro */
    border: 3px solid #c8e6c9;
    border-radius: 15px
}

.card-title {
    color: #333; /* Texto gris oscuro para el título de la tarjeta */
}
